body {
    font-family: "Roboto", Helvetica, sans-serif;
}
.center-div
{
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 150px;
     height: 200px;
     text-align: center;
     color: darkslategray;
}
